form .avatar{
    width: 100px;
    margin-bottom: 20px;
}

.navbar .container-avatar, 
.pub_image .container-avatar{
    width: 35px;
    height: 35px;
    border-radius: 900px;
    overflow: hidden;
    margin-left: 50px;
}

.navbar .container-avatar img,
.pub_image .container-avatar img{
    height: 100%;
    width: 100%;
}

.pub_image{
    margin-bottom: 65px;
}

.pub_image .container-avatar{
    float: left;   
    margin-right: 20px;
}

.pub_image .data-user{
    font-weight: 700;
    line-height: 35px;
}

.pub_image .nickname{
    color: grey;
}

.image-container{
    max-height: 400px;
    overflow: hidden;
    width: 100%;
}

.image-detail{
    max-height: 500px;
}

.image-container img{
    width: 100%;
}

.pub-image .card-body{
    padding: 0px;
}

.pub_image .description{
    padding: 20px;
    padding-top:0px;
}

.pub_image .btn-comments{
    background-color: #262121;
    color: white;
    font-weight: 400;
}
.likes{
    padding: 20px;
    padding-bottom:10px;
}
.likes img{
    width: 20px;
    padding-bottom: 0px;
    padding-top: 10px;
}

.pub_image .comments{
    padding:20px;
}